<% subscribers.forEach(s=> 
    { %> <p>
        <b>Name:</b>
        <%= s.name %>
        </p>

        <p>
        <b>Email Address:</b>
            <%= s.email %>
        </p>
        <hr/>
    <% });  
%>