<form action="/subscribe" method="post">
  <input type="text" name="name" placeholder="Name" />
  <input type="text" name="email" placeholder="Email" />
  <input type="text" name="zipCode" placeholder="ZipCode" />
  <input type="submit" name="submit" />
</form>
