<% subscribers.forEach(s=> 
    { %> <p>
        <b>Name, family name:</b>
        <%= s.name %>
        </p>

        <p>
        <b>Email:</b>
            <%= s.email %>
        </p>

        <p>
            <b>ZipCode:</b>
                <%= s.zipCode %>
            </p>
        <hr/>
    <% });  
%>